body{
	font-family: 'Open Sans', sans-serif;
}

#wrapper{
	margin-top: 50px;
}

#invoice-list-pagination{
	justify-content: center;
}

.preloader-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: none;
}

.preloader-wrapper img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 20px;
}   

#page-top-buttons-wrapper{
    margin-bottom: 20px;
}